<div class="flex flex-wrap justify-between pr-12 md:pr-20 lg:pr-0">
  <div data-ghost="" class="h-20 w-16" aria-hidden="true"></div>
  <div
    class="prose my-8 min-w-[190px] max-w-[210px] text-balance border-l border-zu-light-banner-heading px-4 text-sm font-light text-zu-light-banner-heading dark:prose-invert sm:max-w-[230px] md:max-w-[250px] md:px-6 md:text-base lg:max-w-[300px] dark:border-zu-dark-heading dark:text-zu-dark-heading"
  >
    <slot />
  </div>
</div>
