<button
  class="border border-transparent p-4 text-black hover:border-zu-light-heading active:bg-zu-light-primary active:text-white dark:text-white dark:hover:border-zu-dark-heading dark:active:bg-zu-dark-primary"
  {...Astro.props}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="40"
    height="40"
    viewBox="0 0 50 50"
    fill="none"
  >
    <path d="M1 1L49 49" stroke="currentColor"></path>
    <path d="M49 1L1 49" stroke="currentColor"></path>
  </svg>
</button>
