---

---

<footer>
    <section class="bg-zu-light-bg-footer dark:bg-black">
      <div class="wrapper *:py-12-alt">
        <div class="prose prose-invert max-w-none">
          <div class="grid grid-cols-250 gap-8">
            <div>
              <div class="font-bold uppercase text-[#707070]">Address</div>
              <p>
                <a
                  href="https://www.google.ca/maps/place/zu/@52.1325819,-106.6724218,16z/data=!3m2!4b1!5s0x5304f6d9a9ec12a1:0x3b670f0d8ebfa195!4m6!3m5!1s0x5304f6d9a8c0583f:0x1fb5037633c97bfa!8m2!3d52.132582!4d-106.6675509!16s%2Fg%2F1tfbbthh?entry=ttu"
                  rel="external noopener"
                  target="_blank"
                >
                  200-303 Pacific Ave<br />
                  S7K 1P2<br />
                  Saskatoon, SK
                </a>
              </p>
            </div>
            <div>
              <div class="font-bold uppercase text-[#707070]">Contact</div>
              <p class="grid gap-2">
                <span
                  ><a class="inline-block" href="tel:+13066534747"
                    >+1 306 653 4747</a
                  ></span
                >
                <span
                  ><a class="inline-block" href="tel:+18008348300"
                    >+1 800 834 8300</a
                  ></span
                >
              </p>
            </div>
            <div>
              <div class="font-bold uppercase text-[#707070]">social</div>
              <p class="grid gap-2">
                <span
                  ><a
                    class="inline-block"
                    href="https://www.facebook.com/zulive"
                    rel="external noopener"
                    target="_blank">Facebook</a
                  ></span
                >
                <span
                  ><a
                    class="inline-block"
                    href="https://www.instagram.com/zulive"
                    rel="external noopener"
                    target="_blank">Instagram</a
                  ></span
                >
                <span
                  ><a
                    class="inline-block"
                    href="https://www.linkedin.com/company/zu"
                    rel="external noopener"
                    target="_blank">LinkedIn</a
                  ></span
                >
              </p>
            </div>
            <div>
              <div class="font-bold uppercase text-[#707070]">careers</div>
              <p>Be a part of a diverse team and drive meaningful change.</p>
              <p>
                <a class="inline-block font-semibold uppercase" href="/careers"
                  >Join Us</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-black py-16">
      <div class="wrapper">
        <div class="prose prose-invert max-w-none">
          <div class="flex flex-wrap justify-between gap-4">
            <div>
              <div class="inline-flex flex-wrap gap-8">
                <div>&copy; zu.com communications, 1995-2024</div>
                <div>
                  <a class="block" href="/privacy">Privacy Policy</a>
                </div>
              </div>
            </div>
            <div>
              <a class="block" target="_blank" href="https://www.x-camp.ca"
                >XCamp</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>