---
interface Props {
  stacked?: boolean;
}
const { stacked = true }: Props = Astro.props;
---

<div
  class:list={[
    stacked
      ? "flex flex-col gap-8 lg:gap-16"
      : "grid-cols-[12rem_1fr] gap-8 lg:grid xl:grid-cols-[20rem_1fr]",
  ]}
>
  <div>
    <slot name="left" />
  </div>
  <div>
    <slot name="right" />
  </div>
</div>
